body {
  font-family: "Anta", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #030303; 
  font-size: 17px; 
  line-height: 1.1; 
  color: #963e3e;
  text-shadow: 0.5px 0.5px 0.5px #0f0e0e; 
}

header {
  background-color: #504d4d;
  padding: 10px; 
  overflow: auto; 
  color: #ce4a4a;
}

nav {
  float: right;
}

nav a {
  margin-left: 15px; 
  color: #ffffff; 
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #333131; 
  color: #ada8a8;
  text-align: center;
  padding: 10px;
}


h2, h3, h4, h5, h6 {
  background-color: #686767; 
  padding: 10px;
  margin-bottom: 10px; 
  text-shadow: 1px 1px 1px #ffffff;
}

h1 {
  font-size: 2rem; 
}

h2 {
  font-size: 1.1rem;
  
}

h3, h4, h5, h6 {
  font-size: 1.1rem; 
  border-radius: 10px; 
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 14px 28px; 
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #0056b3;
}

main {
  padding: 30px;
}

.hover-effect {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#sobre-jogo h3,
#como-jogar h4,
#beneficios h5,
#chamada-acao h6 {
  text-align: left;
  margin: 0 auto; 
  width: 90%; 
}

#banner {
  text-align: center; 
}

#banner img {
  display: block; 
  margin: 0 auto; 
}

#banner img {
  transition: transform 0.3s ease-in-out;
}

#banner img:hover {
  transform: scale(1.1); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

